version: "2"

services:
  mongo:
    image: mongo:4.2.7
    mem_limit: 64m
    expose:
      - "27017"
    networks:
      backend:
        aliases:
          - mongo-service

  mysql:
    image: mysql:5.7.32
    mem_limit: 64m
    environment:
      MYSQL_DATABASE: movie_svc
      MYSQL_USER: admin
      MYSQL_PASSWORD: admin
      MYSQL_ROOT_PASSWORD: admin
    ports:
      - "3306:3306"
    networks:
      backend:
        aliases:
          - mysql-service

  redis:
    image: redis:6.0.7
    networks:
      backend:
        aliases:
          - redis-server

  rabbit:
    image: rabbitmq:3.8.8-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: secret
    networks:
      backend:
        aliases:
          - rabbit-service

  sender-app:
    image: eshishkin/k8s-examples/sender-service
    mem_limit: 128m
    expose:
      - "8080"
    ports:
      - "18080:8080"
    environment:
      - JAVA_TOOL_OPTIONS=-Xms256m -Xmx256m -XX:+UseContainerSupport -XX:+AlwaysActAsServerClassMachine -XX:+AlwaysPreTouch
    networks:
      backend:
        aliases:
          - sender-service

  receiver-app:
    image: eshishkin/k8s-examples/receiver-service
    mem_limit: 128m
    expose:
      - "8080"
    ports:
      - "28080:8080"
    environment:
      - JAVA_TOOL_OPTIONS=-Xms256m -Xmx256m -XX:+UseContainerSupport -XX:+AlwaysActAsServerClassMachine -XX:+AlwaysPreTouch
    networks:
      backend:
        aliases:
          - receiver-service

  user-service:
    image: eshishkin/k8s-examples/user-service
    mem_limit: 512m
    expose:
      - "8080"
    ports:
      - "38080:8080"
    depends_on:
      - mongo
      - rabbit
    networks:
      backend:
        aliases:
          - user-service

networks:
  backend:
